.background {
   
    background-color: black;
    text-align: center;
    margin-top: 3em;
    border-radius: 1em;
}
.background div {
    display: inline-block;
    background-color: gray;
    padding: 20px;
    margin: 4px; 
    font-size: 70px;
    color: white;
    border-radius:3em ;
}
